examples filter=lfs diff=lfs merge=lfs -text
speakers/nezha_prompt.wav filter=lfs diff=lfs merge=lfs -text
speakers/nezhaRAP_prompt.wav filter=lfs diff=lfs merge=lfs -text
speakers/nezha哼唱_prompt.wav filter=lfs diff=lfs merge=lfs -text
